Repository alexleyoung/asap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-test, backend-deploy, frontend-build, frontend-test, frontend-deploy

backend-build:
  stage: backendbuild
  tags:
  - backend
  script:
  - cd Backend
  - docker compose build

backend-test:
  stage: backendtest
  tags:
  - backend
  script:
  - cd Backend

backend-deploy:
  stage: backenddeploy
  tags:
  - backend
  script:
  - cd Backend
  - docker compose up -d

frontend-build:
  stage: frontendbuild
  tags:
  - frontend
  script:
  - cd frontend
  - cd asap-web
  - docker build -t asap-web .

frontend-test:
  stage: frontendtest
  tags:
  - frontend
  script:
  - cd frontend
  - cd asap-web

frontend-deploy:
  stage: frontenddeploy
  tags:
  - frontend
  script:
  - cd frontend
  - cd asap-web
  - docker run -p 3000:3000 -d asap-web

use new runners
  .gitlab-ci.yml
Due: none

fix cap in dir names in gitlab-ci
  .gitlab-ci.yml
Due: none

more websocket
  Backend/routers/calendars.py
  Frontend/asap-web/src/components/dashboard/forms/CalendarMembers.tsx
Due: backend-build, backend-test, backend-deploy, frontend-build, frontend-test, frontend-deploy

i can commit again!
  Frontend/asap-web/package-lock.json
  Frontend/asap-web/package.json
  Frontend/asap-web/src/components/dashboard/forms/CalendarMembers.tsx
Due: frontend-build, frontend-test, frontend-deploy

trying to fix backend
  venv/Scripts/uvicorn.exe
Due: none

add pathname condition to reuse header in tasks
  Frontend/asap-web/src/app/dashboard/(calendar)/page.tsx
  Frontend/asap-web/src/app/dashboard/tasks/page.tsx
  Frontend/asap-web/src/components/dashboard/Header.tsx
  Frontend/asap-web/src/components/dashboard/forms/CreateItemDialog.tsx
  Frontend/asap-web/src/components/dashboard/sidebar/Sidebar.tsx
Due: frontend-build, frontend-test, frontend-deploy

task page draft
  Frontend/asap-web/src/app/dashboard/tasks/page.tsx
  Frontend/asap-web/src/components/dashboard/sidebar/Sidebar.tsx
  Frontend/asap-web/src/components/ui/badge.tsx
  Frontend/asap-web/src/components/ui/table.tsx
Due: frontend-build, frontend-test, frontend-deploy

add crud and optimized rendering
  Frontend/asap-web/src/app/dashboard/tasks/page.tsx
Due: frontend-build, frontend-test, frontend-deploy

use checkbox instead of icon
  Frontend/asap-web/src/app/dashboard/tasks/page.tsx
Due: frontend-build, frontend-test, frontend-deploy

change navigation button depending on route
  Frontend/asap-web/src/components/dashboard/sidebar/Sidebar.tsx
Due: frontend-build, frontend-test, frontend-deploy

add pagination, add edit form
  Frontend/asap-web/package-lock.json
  Frontend/asap-web/package.json
  Frontend/asap-web/src/app/dashboard/(calendar)/page.tsx
  Frontend/asap-web/src/app/dashboard/tasks/page.tsx
  Frontend/asap-web/src/components/dashboard/forms/EditTaskForm.tsx
  Frontend/asap-web/src/components/dashboard/pagination/Pagination.tsx
  Frontend/asap-web/src/components/ui/switch.tsx
  Frontend/asap-web/src/lib/scheduleCrud.ts
Due: frontend-build, frontend-test, frontend-deploy

move pagination to top to avoid layout shift
  Frontend/asap-web/src/app/dashboard/tasks/page.tsx
Due: frontend-build, frontend-test, frontend-deploy

testing works
  Backend/routers/calendars.py
  Experiments/kaylee53/cypress.config.js
  Experiments/kaylee53/cypress/e2e/kayleeSystemTest.cy.js
  Experiments/kaylee53/cypress/fixtures/example.json
  Experiments/kaylee53/cypress/support/commands.js
  Experiments/kaylee53/cypress/support/e2e.js
  Frontend/asap-web/src/app/dashboard/layout.tsx
  Frontend/asap-web/src/components/dashboard/forms/EditProfileForm.tsx
  Frontend/asap-web/src/components/dashboard/sidebar/CalendarsCollapsible.tsx
  Frontend/asap-web/src/contexts/CalendarsContext.tsx
  Frontend/asap-web/src/lib/scheduleCrud.ts
Due: backend-build, backend-test, backend-deploy, frontend-build, frontend-test, frontend-deploy

redo changes to task
  Backend/routers/calendars.py
  Backend/routers/tasks.py
  Backend/utils/crud/tasks.py
Due: backend-build, backend-test, backend-deploy

ignore venv
  .gitignore
Due: none

update get and post in back and front end to make sure they match
  Backend/routers/calendars.py
  Frontend/asap-web/src/lib/scheduleCrud.ts
Due: backend-build, backend-test, backend-deploy, frontend-build, frontend-test, frontend-deploy

calendar and user test files. %pytest file.py -v to run
  Backend/database/db.py
  Backend/routers/calendars_test.py
  Backend/routers/user_tests.py
Due: backend-build, backend-test, backend-deploy

commented out testing stuff
  Backend/database/db.py
Due: backend-build, backend-test, backend-deploy

goups
  Backend/main.py
  Backend/routers/groups.py
  Frontend/asap-web/src/components/dashboard/Header.tsx
  Frontend/asap-web/src/components/dashboard/forms/CalendarMembers.tsx
  Frontend/asap-web/src/lib/scheduleCrud.ts
Due: backend-build, backend-test, backend-deploy, frontend-build, frontend-test, frontend-deploy

memberships endpoint and router
  Frontend/asap-web/src/lib/scheduleCrud.ts
Due: frontend-build, frontend-test, frontend-deploy

group calendars ui
  Backend/database/db.py
  Backend/main.py
  Backend/routers/memberships.py
  Backend/utils/crud/memberships.py
  Frontend/asap-web/src/app/dashboard/(calendar)/page.tsx
  Frontend/asap-web/src/lib/scheduleCrud.ts
Due: backend-build, backend-test, backend-deploy, frontend-build, frontend-test, frontend-deploy

default calendar fix
  Frontend/asap-web/src/components/dashboard/forms/EventForm.tsx
Due: frontend-build, frontend-test, frontend-deploy

colors
  Frontend/asap-web/src/components/dashboard/forms/EditEventForm.tsx
  Frontend/asap-web/src/components/dashboard/forms/EditTaskForm.tsx
  Frontend/asap-web/src/components/dashboard/forms/EventForm.tsx
  Frontend/asap-web/src/components/dashboard/forms/TaskForm.tsx
  Frontend/asap-web/src/components/dashboard/schedule/DraggableItem.tsx
  Frontend/asap-web/src/lib/types.ts
Due: frontend-build, frontend-test, frontend-deploy

add color switching based on calendar in event form
  Frontend/asap-web/src/components/dashboard/forms/EditCalendarForm.tsx
  Frontend/asap-web/src/components/dashboard/forms/EventForm.tsx
  Frontend/asap-web/src/components/dashboard/schedule/DraggableItem.tsx
  Frontend/asap-web/src/components/dashboard/sidebar/CalendarsCollapsible.tsx
  Frontend/asap-web/src/lib/types.ts
  Frontend/asap-web/src/lib/utils.ts
Due: frontend-build, frontend-test, frontend-deploy

default time fix in create form
  Frontend/asap-web/src/components/dashboard/forms/EventForm.tsx
Due: frontend-build, frontend-test, frontend-deploy

add edit calendars in collapsible
  Frontend/asap-web/package-lock.json
  Frontend/asap-web/package.json
  Frontend/asap-web/src/components/dashboard/Header.tsx
  Frontend/asap-web/src/components/dashboard/forms/EditCalendarTabs.tsx
  Frontend/asap-web/src/components/dashboard/forms/ManageCalendarsDialog.tsx
  Frontend/asap-web/src/components/dashboard/sidebar/CalendarsCollapsible.tsx
  Frontend/asap-web/src/components/ui/context-menu.tsx
  Frontend/asap-web/src/lib/scheduleCrud.ts
Due: frontend-build, frontend-test, frontend-deploy

add edit to calendar collapsible
  Frontend/asap-web/src/components/dashboard/Header.tsx
  Frontend/asap-web/src/components/dashboard/forms/EditCalendarForm.tsx
  Frontend/asap-web/src/components/dashboard/forms/EditCalendarTabs.tsx
  Frontend/asap-web/src/components/dashboard/sidebar/CalendarsCollapsible.tsx
Due: frontend-build, frontend-test, frontend-deploy

readd drag and drop
  Frontend/asap-web/src/app/dashboard/(calendar)/page.tsx
  Frontend/asap-web/src/components/dashboard/schedule/DraggableItem.tsx
  Frontend/asap-web/src/components/dashboard/schedule/DroppableTimeSlot.tsx
  Frontend/asap-web/src/components/dashboard/schedule/TimeSlots.tsx
  Frontend/asap-web/src/components/dashboard/schedule/WeekView.tsx
  Frontend/asap-web/src/components/dashboard/schedule/schedule.tsx
  Frontend/asap-web/src/lib/utils.ts
Due: frontend-build, frontend-test, frontend-deploy

dnd fixes
  Frontend/asap-web/src/app/dashboard/(calendar)/page.tsx
  Frontend/asap-web/src/components/dashboard/schedule/DayView.tsx
  Frontend/asap-web/src/components/dashboard/schedule/DraggableItem.tsx
  Frontend/asap-web/src/components/dashboard/schedule/schedule.tsx
  Frontend/asap-web/src/components/dashboard/sidebar/CalendarsCollapsible.tsx
  Frontend/asap-web/src/lib/utils.ts
Due: frontend-build, frontend-test, frontend-deploy

fix auto task creation and form
  Frontend/asap-web/src/components/dashboard/forms/CreateItemTabs.tsx
  Frontend/asap-web/src/components/dashboard/forms/TaskForm.tsx
  Frontend/asap-web/src/lib/scheduleCrud.ts
Due: frontend-build, frontend-test, frontend-deploy

update llm, and some schemas, and endpoints
  Backend/database/models.py
  Backend/database/schemas.py
  Backend/routers/events.py
  Backend/routers/groups.py
  Backend/routers/tasks.py
  Backend/utils/crud/calendars.py
  Backend/utils/crud/events.py
  Backend/utils/crud/tasks.py
  Backend/utils/llm.py
Due: backend-build, backend-test, backend-deploy

ui fixes
  Backend/utils/auth.py
  Frontend/asap-web/src/app/dashboard/(calendar)/page.tsx
  Frontend/asap-web/src/components/dashboard/forms/CreateItemDialog.tsx
  Frontend/asap-web/src/components/dashboard/forms/CreateItemTabs.tsx
  Frontend/asap-web/src/components/dashboard/forms/EditEventForm.tsx
  Frontend/asap-web/src/components/dashboard/forms/EditTaskDialog.tsx
  Frontend/asap-web/src/components/dashboard/forms/EditTaskForm.tsx
  Frontend/asap-web/src/components/dashboard/forms/EventForm.tsx
  Frontend/asap-web/src/components/dashboard/forms/PreviewTaskDialog.tsx
  Frontend/asap-web/src/components/dashboard/schedule/DraggableItem.tsx
  Frontend/asap-web/src/components/dashboard/schedule/schedule.tsx
  Frontend/asap-web/src/components/signup/SignUpForm.tsx
Due: backend-build, backend-test, backend-deploy, frontend-build, frontend-test, frontend-deploy

add loading state to page
  Backend/utils/auth.py
  Frontend/asap-web/cypress/e2e/add-calendar.cy.ts
  Frontend/asap-web/cypress/e2e/create-task.cy.ts
  Frontend/asap-web/src/app/(signin)/page.tsx
  Frontend/asap-web/src/app/dashboard/(calendar)/page.tsx
  Frontend/asap-web/src/app/dashboard/layout.tsx
  Frontend/asap-web/src/app/layout.tsx
  Frontend/asap-web/src/components/dashboard/forms/TaskForm.tsx
  Frontend/asap-web/src/components/signin/SignInForm.tsx
  Frontend/asap-web/src/contexts/UserContext.tsx
Due: backend-build, backend-test, backend-deploy, frontend-build, frontend-test, frontend-deploy

Path conditions:
  backend-build: any of: Backend/**/*
  backend-test: any of: Backend/**/*
  backend-deploy: any of: Backend/**/*
  frontend-build: any of: Frontend/asap-web/**/*
  frontend-test: any of: Frontend/asap-web/**/*
  frontend-deploy: any of: Frontend/asap-web/**/*
