Repository alexleyoung/asap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-test, backend-deploy, frontend-build, frontend-test, frontend-deploy

.gitlab-ci.yml:

stages:
  - backendbuild
  - backendtest
  - backenddeploy
  - frontendbuild
  - frontendtest
  - frontenddeploy

backend-build:
  stage: backendbuild
  tags:
    - main_backend
  script:
    - cd Backend
    - docker compose build
  only:
    refs:
      - main
    changes:
      - Backend/**/*

backend-test:
  stage: backendtest
  tags:
    - main_backend
  script:
    - cd Backend
  only:
    refs:
      - main
    changes:
      - Backend/**/*

backend-deploy:
  stage: backenddeploy
  tags:
    - main_backend
  script:
    - cd Backend
    - docker compose up -d
  only:
    refs:
      - main
    changes:
      - Backend/**/*

frontend-build:
  stage: frontendbuild
  tags:
    - main_frontend
  script:
    - cd Frontend
    - cd asap-web
    - docker build -t asap-web .
  only:
    refs:
      - main
    changes:
      - Frontend/asap-web/**/*

frontend-test:
  stage: frontendtest
  tags:
    - main_frontend
  script:
    - cd Frontend
    - cd asap-web
  only:
    refs:
      - main
    changes:
      - Frontend/asap-web/**/*

frontend-deploy:
  stage: frontenddeploy
  tags:
    - main_frontend
  script:
    - cd Frontend
    - cd asap-web
    - docker run -p 3000:3000 -d asap-web
  only:
    refs:
      - main
    changes:
      - Frontend/asap-web/**/*

finish tests
  Frontend/asap-web/cypress/e2e/register.cy.ts
Due: frontend-build, frontend-test, frontend-deploy

cleanup
  Backend/routers/calendars.py
  Backend/utils/llm.py
  Frontend/asap-web/cypress/e2e/create-task.cy.ts
  Frontend/asap-web/cypress/e2e/create_event.cy.ts
  Frontend/asap-web/cypress/e2e/register.cy.ts
  Frontend/asap-web/src/app/dashboard/(calendar)/page.tsx
  Frontend/asap-web/src/components/dashboard/Header.tsx
  Frontend/asap-web/src/components/dashboard/forms/CreateItemDialog.tsx
  Frontend/asap-web/src/components/dashboard/forms/PreviewTaskDialog.tsx
  Frontend/asap-web/src/components/dashboard/schedule/schedule.tsx
  Frontend/asap-web/src/components/signin/SignInForm.tsx
Due: backend-build, backend-test, backend-deploy, frontend-build, frontend-test, frontend-deploy

update readme
  Frontend/asap/README.md
Due: none

update FAQ
  Frontend/asap/src/app/page.tsx
Due: none

fix lint errors in landing page
  Frontend/asap/src/components/ui/floating-navbar.tsx
  Frontend/asap/src/components/ui/hover-border-gradient.tsx
  Frontend/asap/src/components/ui/text-generate-effect.tsx
Due: none

fix tailwind config errors
  Frontend/asap/tailwind.config.ts
Due: none

clean
  Frontend/asap-web/src/app/(signin)/page.tsx
  Frontend/asap-web/src/app/dashboard/(calendar)/page.tsx
  Frontend/asap-web/src/components/dashboard/forms/EditEventForm.tsx
  Frontend/asap-web/src/components/dashboard/schedule/EditEventDialog.tsx
  Frontend/asap-web/src/components/dashboard/schedule/schedule.tsx
Due: frontend-build, frontend-test, frontend-deploy

clean auth components
  Frontend/asap-web/src/components/signin/SignInForm.tsx
  Frontend/asap-web/src/components/signup/SignUpForm.tsx
Due: frontend-build, frontend-test, frontend-deploy

update next metadata
  Frontend/asap/src/app/layout.tsx
Due: none

fix typo
  Backend/fly.toml
  Backend/routers/calendars.py
  Frontend/.DS_Store
  Frontend/asap/src/app/layout.tsx
Due: backend-build, backend-test, backend-deploy

clean git ignore, update readme
  .gitignore
  Backend/.gitignore
  Frontend/.DS_Store
  Frontend/asap/.gitignore
  README.md
Due: backend-build, backend-test, backend-deploy

disable waitlist button
  Frontend/asap/src/app/page.tsx
Due: none
